# 自动生成的镜像配置 (by setup-mirror.mjs)
# 生成时间: 2026-05-09T13:26:23.119Z

# npm registry
registry=https://registry.npmmirror.com

# 用户自定义配置
# npm registry

# 用户自定义配置
# npm registry

# 用户自定义配置
# npm registry

# 用户自定义配置
# npm registry

# 用户自定义配置
# npm registry
